<div class="container">
<h1 class="col-8 head-line text-center"> 　　　　　About </h1>

<div class="row col-8 mx-auto">
    
<div class="text-center">NAGANO CAKEは全国発送可能なケーキ屋さんです。<br>
     お子様からお年寄りの方までお召し上がりいただけるよう、<br>
     様々なバリエーションを用意しておあります。<br>
     また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
     ぜひご注文ください <i class="fas fa-apple-alt"></i>
</div></div>
<div class="row col-8 mx-auto center-block" style="margin:20px 0;">
<div class="image-field">
    <%= image_tag 'ringo-back.jpg', size: '600x300' %>
</div>
    
</div>
</div>